[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
streamlit = ">=1.0.0"
pandas = "*"
seaborn = "*"
plotly = ">=4.5.0"
statsmodels = "*"
xarray = "*"
climate-indices = "*"
sklearn = "*"
fire = "*"
spotpy = "*"
Pillow = "*"
circlify = "*"

[dev-packages]

[requires]
python_version = "3.8"
